<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EShop-bobo</display-name>
  <welcome-file-list>
     <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <filter>
     <filter-name>queryFilter</filter-name>
     <filter-class>org.ccunix.javaweb.util.QueryInfoServletFilter</filter-class>
  </filter>
  <filter-mapping>
     <filter-name>queryFilter</filter-name>
     <url-pattern>/queryFilter/*</url-pattern>
  </filter-mapping>
  
  <servlet>
      <servlet-name>updateMember</servlet-name>
      <jsp-file>/jsp/user/memberUpdate.jsp</jsp-file>
      
  </servlet>
  <servlet-mapping>
     <servlet-name>updateMember</servlet-name>
     <url-pattern>/queryFilter/updateMember</url-pattern>
  </servlet-mapping>
</web-app>